<body class="login">
<div class="container" align="center" style="margin-top: 200px;margin-bottom: 180px;">
<h2>비밀번호가 기억 안나욧!</h2><br/>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<table width="450px;" border="0">
  <tr border="1" border-color="black">
    <td>
      <div class="field">
      <%= f.label :이메일 %><br />
      <%= f.email_field :email, class: "form-control", autofocus: true %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="actions"><br/>
      <%= f.submit "임시 비밀번호 메일 보내기", class: "btn btn-warning" %>
      </div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
    <br/>
    <%= render "devise/shared/links" %>
    </td>
  </tr>
</table>
</div>
</body>